<div class="homepage">
  {{#each posts_data}}
{{!-- <h1>Post ID: {{this.id}}</h1> --}}
    <div class="card">
      <div class="card-header">
        <div class="card-title-container">
          <h2 class="card-title">{{this.title}}</h2>
          <p class="posted-by">Posted by: {{this.user.username}} on {{formatDate this.createdAt}}</p>
        </div>
      </div>
      <div class="card-content">
        <p>{{this.content}}</p>
      </div>
      <div class="card-footer">
        <a href="/view-comments/{{this.id}}" class="white-link">View Comments</a>
      </div>
    </div>
  {{/each}}
</div>
