<h1>Post Details</h1>
<div class="post-card">
  <h2>{{post.title}}</h2>
  <p>Posted by: {{this.id}} on {{formatDate post.createdAt}}</p>
  <p>{{post.content}}</p>
</div>

<h1>Comments</h1>
{{#each post.comments}}
  <div class="card">
    <div class="card-header">
      <p class="posted-by">Posted by: {{this.id}} on {{formatDate createdAt}}</p>
    </div>
    <div class="card-content">
      <p>{{this.comment_text}}</p>
    </div>
  </div>
{{/each}}

